 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dancing Script', cursive;
}

.App {
  text-align: center;
  height: 100vh;
  color: white;
  height: 100vh;
  display: grid;
  place-items: center;
  transition: all .5s ease-in-out;
}

#quote-box  {
  width: 50%;
  border: 2px solid black;
  padding: 10px;
  color: black;
  background-color: white;
  max-width: 80rem;
  padding: 20px;
  font-size:2rem;
  justify-content: space-between;
  border-radius: 0 0 20px 0;
  transition: all .5s ease-in-out;
  margin-top: 150px;

}
#text {
    font-size: 2.8rem;
  }

#author {
    text-align: end;
    margin-bottom: 2.3rem;
  }

  span {
    font-size: 6rem;
  } 
  
.button {
    font-family: 'Dancing Script', cursive;
    background: black;
    color: white;
    border: 1px solid black;
    padding: 1rem;
    font-size: 2rem;
    margin: 0 0.3rem;
    display: inline-block;
  }

  .button:hover {
    transition: all .5s ease-in-out;
    color: black;
    background-color: white;
    cursor: pointer;
  }
  #new-quote{
    border-radius: 20px 0 0 0;
  }
  #tweet-quote{
    border-radius: 0 0 20px 0;
  }

  .copyright, #date {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:20px;
    color: black;
  }

